.ListNewProducts-container {
    padding: 30px 20%;
}

.ListNewProducts-listItem {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    box-sizing: border-box;
    user-select: none;
    color: #333;
    font-weight: 400;
}

.ListNewProducts-select {
    margin-bottom: 10px;
    flex: 1;
}
