.Button-container {
  margin: 0 15px 0 0;
}

.Button-link {
  color: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  cursor: pointer;
  padding: 7px;
  border-right: 1px solid #282c36;
}

.Button-link:focus {
  outline: none;
}

.Button-link:hover {
  background-color: rgba(23, 42, 58, 0.3);
  color: #f9f9f9;
}

.Button-link-label {
  margin: 0 5px 0 5px;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
