.CreateAttribute-input {
  width: 96%;
  height: 34px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.CreateAttribute-select {
  margin-bottom: 10px;
}

.CreateAttribute-label {
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  width: 96%;
}

.CreateAttribute-container {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
